<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color:maroon;
  padding: 30px;
  text-align: left;
  font-family:Georgia, 'Times New Roman', Times, serif;
  border-radius: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  border-radius: 50%;
}
/* Container for flexboxes */
section {
  display: -webkit-flex;
  display:inline-flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 0;
  background:maroon;
  padding: 100px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>
</head>



<body>


<header>
  
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
</header>

<section>
  <nav>
    <ul>
      
    </ul>
  </nav>
  
  <article>
    <h1>Welcome!</h1>
  </article>
</section>

<footer>
  <p>Footer</p>
</footer>

</body>